services:
    postgres:
        container_name: postgres
        image: postgres
        restart: always
        environment:
            - POSTGRES_USER=root
            - POSTGRES_PASSWORD=HgTJGBxuxkpgLxBy0QO2Sh49Ws
            - POSTGRES_DB=directory_service
        volumes:
            - ./postgres-data:/var/lib/postgresql
        ports:
            - 5432:5432

volumes:
    postgres-data:
