name: Build

on:
  [ push, pull_request, workflow_dispatch ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x
      - name: Restore dependencies
        run: cd ./DirectoryService && dotnet restore
      - name: Build
        run: cd ./DirectoryService && dotnet build --no-restore